.taskBox {
  width: 400px;
  height: auto;
  padding: 3rem;
  background-color: var(--background);
  border-radius: 25px;

  transition: all ease-in-out 0.15s;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.taskBox p {
  width: 100%;
  word-wrap: break-word;
  opacity: 0.8;
}

.subTaskBox {
  width: 95%;
  padding: 2.5%;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--secondary);
}
.subTaskBox input {
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  background-color: var(--primary);
  /* Dodatkowy styl przy najechaniu myszką */
  cursor: pointer;
}

.subTaskBox p {
  width: 70%;
  color: var(--text);
  padding: 10px 20px;
  border-radius: 15px;
  opacity: 1;
}

.subTaskBox .subDone {
  text-decoration: line-through;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .taskBox {
    width: 250px;
  }
}
