.allTables {
  height: auto;
  padding: 1% 5%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.allTables ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 968px) {
  .allTables {
    padding: 3% 5% 3% 5%;
    padding-bottom: 20px;
    height: auto;
  }
}
