.tableItem {
  width: 65%;
  padding: 15px 30px;
  border: solid 2px var(--text);
  box-shadow: 0px 3px 0px 2px var(--text);

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin-top: 10px;
  border-radius: 5px;

  cursor: pointer;
}

.done {
  opacity: 0.7;
}

@media (max-width: 968px) {
  .tableItem {
    width: auto;
  }
}
