.tableItem {
  width: 100%;
  padding: 15px 30px;
  background-color: var(--darkBlue);
  box-shadow: 0px 3px 0px 2px var(--veryLightGray);

  display: flex;
  align-items: center;

  margin-top: 10px;
  border-radius: 5px;

  cursor: pointer;
}

@media (max-width: 968px) {
  .tableItem {
    width: auto;
  }
}
