@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

:root[data-theme="light"] {
  --text: #201f04;
  --background: #fdfdf2;
  --primary: #e3d72b;
  --secondary: #77adee;
  --accent: #935dea;
}
:root[data-theme="dark"] {
  --text: #fbfadf;
  --text2: #fbfadf;
  --background: #0d0d02;
  --primary: #d4c81c;
  --secondary: #114788;
  --accent: #4b15a2;
}

html,
* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}
html {
  font-size: 100%;
}

/* transition: all ease-in-out 0.25s; */
body {
  color: var(--text);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3.366rem;
}

h2 {
  font-size: 2.525rem;
}

h3 {
  font-size: 1.894rem;
}

h4 {
  font-size: 1.421rem;
}

h5 {
  font-size: 1.066rem;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--text);
}

input::placeholder,
textarea::placeholder {
  color: var(--text);
}

input:focus,
textarea:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.hidden {
  display: none;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select {
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  padding: 5px 10px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  font-size: 16px;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
}

select option {
  background-color: var(--background);
  color: var(--text);
}

.dark-bg {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--text);
  opacity: 0.8;
  z-index: 5;
}

/* entry slide */
.entry-slide {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 100;
  background-color: var(--background);

  animation: entry 0.6s ease-in forwards;
}

@keyframes entry {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 64.4%;
  }
}
