@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

:root[data-theme="light"] {
  --text: #081c21;
  --background: #e7f6f9;
  --primary: #1d6777;
  --secondary: #848fe1;
  --accent: #3b2db9;
}
:root[data-theme="dark"] {
  --text: #def2f7;
  --background: #061518;
  --primary: #88d2e2;
  --secondary: #1e297b;
  --accent: #5446d2;
}

html,
* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}
html {
  font-size: 100%;
}

/* transition: all ease-in-out 0.25s; */
body {
  /* overflow: hidden; */
  color: var(--text);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3.366rem; /* 53.92px */
}

h2 {
  font-size: 2.525rem; /* 40.32px */
}

h3 {
  font-size: 1.894rem; /* 30.24px */
}

h4 {
  font-size: 1.421rem; /* 22.72px */
}

h5 {
  font-size: 1.066rem; /* 17.12px */
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  box-sizing: border-box;
  border-radius: 15px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.table {
  background-color: var(--veryDarkBlue);
  width: 100%;
  height: 90%;

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.tableItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.taskBox {
  width: 400px;
  height: auto;
  padding: 3rem;
  background-color: var(--background);
  border-radius: 25px;

  transition: all ease-in-out 0.15s;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.taskBox p {
  width: 100%;
  word-wrap: break-word;
  opacity: 0.8;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.subTaskBox {
  width: 100%;
  padding: 5px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #061518d7;
}
.subTaskBox input {
  width: 20%;
}

.subTaskBox p {
  width: 70%;
  color: var(--text);
  padding: 10px 20px;
  border-radius: 15px;
  opacity: 1;
}

.tableTitleNotes {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.addNotes {
  display: flex;
  align-items: center;
  gap: 30px;

  width: 100%;
}

.addNotes input {
  width: 80%;
}
.notesBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.note {
  background-color: var(--background);
  border: solid 2px var(--accent);
  color: var(--text);

  padding: 15px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  text-wrap: wrap;
}

.noteInput {
  border: solid 2px var(--accent);
}

.note p {
  width: 80%;
}

.dark-bg {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--text);
  opacity: 0.8;
  z-index: 5;
}

/* entry slide */
.entry-slide {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 100;
  background-color: var(--background);

  animation: entry 0.6s ease-in forwards;
}

@keyframes entry {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@media (max-width: 968px) {
  html {
    font-size: 62.4%;
  }

  .allTables {
    padding: 3% 5% 3% 5%;
    padding-bottom: 20px;
    height: auto;
  }
  .table {
    padding: 5%;
    width: 90%;

    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }

  .tableItems {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .tableTitleNotes {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .notesBox {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .taskBox {
    width: 250px;
  }
}
