@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,600;6..12,800&display=swap");

:root {
  /* dark mode */
  --seaBlue: hsl(208, 73%, 44%);
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlue: hsl(207, 26%, 17%);
  /* light mode */
  --veryDarkBlueLight: hsl(200, 15%, 8%);
  --darkGray: hsl(0, 0%, 52%);
  --veryLightGray: hsl(0, 0%, 98%);
  /* Dark Mode Text & Light Mode Elements */
  --white: hsl(0, 0%, 100%);
}

html,
* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  /* overflow: hidden; */
  color: white;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  box-sizing: border-box;
  border-radius: 15px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.allTables {
  height: auto;
  padding: 0 10% 3% 10%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  background-color: var(--darkBlue);
}
.allTables ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
.allTables ul li {
  margin-right: 10px;
  cursor: pointer;
  text-align: center;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 5px;

  border: solid 2px var(--seaBlue);
  border-radius: 15px;
  transition: all ease-in-out 0.15s;
}
.allTables ul li p {
  padding: 10px 30px;
  border-radius: 15px;
  transition: all ease-in-out 0.15s;
}

.allTables ul li p:hover {
  background-color: var(--seaBlue);
  color: white;
}
.allTables ul li.selected p,
.allTables ul li.selected button {
  background-color: rgb(158, 91, 221);
  color: var(--white);
}
.allTables ul li.selected {
  border: solid 2px rgb(158, 91, 221);
}

.navBar {
  height: 10%;
  padding: 0 10%;

  background-color: var(--darkBlue);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table {
  background-color: var(--veryDarkBlue);
  width: 100%;
  height: 90%;

  padding-top: 4%;

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.tableItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tableItem {
  width: 100%;
  padding: 15px 30px;
  background-color: var(--darkBlue);
  box-shadow: 0px 3px 0px 3px rgb(49, 59, 170);

  display: flex;
  align-items: center;

  margin-top: 10px;
  border-radius: 5px;

  cursor: pointer;
}

.taskBox {
  width: 400px;
  height: 400px;
  padding: 3rem;
  background-color: rgb(49, 59, 170);
  border-radius: 25px;

  transition: all ease-in-out 0.15s;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.addNewTaskModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  width: 300px;
  height: 400px;

  background-color: var(--veryDarkBlueLight);

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;

  border-radius: 15px;
  padding: 30px;
}

.ButtonsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.dark-bg {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 0.7;
  z-index: 5;
}

@media (max-width: 968px) {
  .navBar {
    height: 10%;
    padding: 2% 5%;
  }
  .allTables {
    padding: 3% 5% 3% 5%;
    padding-bottom: 20px;
    height: auto;
  }
  .table {
    padding: 5%;
    width: 90%;

    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }

  .tableItems {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .tableItem {
    width: auto;
  }

  .taskBox {
    width: 250px;
    height: 250px;
  }
}
