.alertBox {
  position: absolute;
  z-index: 99;
  width: 40%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -90vh);
  background-color: var(--background);
  color: var(--accent);
  border: solid 4px var(--accent);
  border-radius: 25px;
  padding: 10px 20px;

  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
}
