.addButton {
  padding: 10px 20px;
  border-radius: 20px;
  border: solid 2px var(--primary);
  background-color: var(--primary);
  color: var(--text);

  font-weight: 600;

  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
.addButton:hover {
  color: var(--primary);
  background-color: var(--text);
  border: solid 2px var(--text);
}

.closeButton {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--secondary);
  color: var(--text);
  border: solid 2px var(--secondary);

  font-weight: 600;

  cursor: pointer;

  transition: all ease-in-out 0.15s;
}
.closeButton:hover {
  background-color: transparent;
  color: var(--text);
}

.deleteTask {
  padding: 10px 20px;
  border-radius: 20px;
  border: solid 2px rgb(207, 52, 52);
  background-color: rgb(207, 52, 52);
  color: white;

  cursor: pointer;

  transition: all ease-in-out 0.15s;
}
.deleteTask:hover {
  background-color: white;
  color: rgb(207, 52, 52);
}

.restartApp {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: var(--secondary);
  color: var(--text);

  border: solid 2px var(--text);
  margin-left: 10px;

  transition: all ease-in-out 0.15s;
  cursor: pointer;
}

.restartApp:hover {
  box-shadow: 3px 5px 0px 0px var(--text);
}

.addTask {
  padding: 10px 20px;
  border: solid 2px var(--text);
  background-color: var(--accent);
  color: var(--background);

  border-radius: 25px;
  cursor: pointer;

  transition: all ease-in-out 0.15s;
}

.addTask:hover {
  box-shadow: 3px 5px 0px 0px var(--text);
}

.addNewTable {
  align-self: flex-start;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--seaBlue);
}

.deleteTable {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: var(--background);
  color: var(--text);
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
.deleteTable:hover {
  background-color: var(--text);
  color: var(--background);
}

.modeToggle {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border: solid 2px var(--text);
  color: var(--text);

  transition: all ease-in-out 0.15s;
}
.modeToggle:hover {
  box-shadow: 3px 5px 0px 0px var(--text);
}

.addSubtask {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--primary);
  color: var(--background);

  transition: all ease-in-out 0.15s;
  cursor: pointer;
}

.addSubtask:hover {
  opacity: 0.8;
}

.deleteSubTask {
  font-size: 24px;
  font-weight: bold;
  transition: all ease-in-out 0.15s;

  border: none;
  background-color: transparent;

  color: var(--primary);

  cursor: pointer;
}

.addNote {
  background-color: var(--accent);
  color: var(--background);

  width: 30px;
  height: 30px;

  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: all ease-in-out 0.15s;
}

.addNote:hover {
  width: 40px;
  height: 40px;
}

.deleteNote {
  background-color: rgb(207, 52, 52);
  color: white;

  width: 30px;
  height: 30px;

  border: none;
  border-radius: 50%;

  cursor: pointer;
  transition: all ease-in-out 0.15s;
}
.deleteNote:hover {
  background-color: rgb(248, 61, 61);
}

@media (max-width: 968px) {
  .modeToggle,
  .restartApp {
    margin-left: 0px;
  }
}
