.startMsg {
  align-self: center;
  margin-top: -4%;
  text-align: center;
  width: 100%;
}

@media (max-width: 968px) {
  .startMsg {
    align-self: center;
    position: relative;

    margin-top: 30vw;
  }
}
