.addNewTaskModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  width: 400px;
  height: auto;

  border: solid 3px var(--text);
  background-color: var(--background);

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;

  transition: all ease-in-out 0.15s;

  border-radius: 15px;
  padding: 30px;
}

.taskTextArea {
  resize: vertical;
  border: solid 2px var(--primary);
  width: 90%;
  border-radius: 15px;
  padding: 15px;
  height: auto;
}

.subBox {
  width: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskInput {
  border: solid 2px var(--primary);
}

@media (max-width: 968px) {
  .addNewTaskModal {
    width: 300px;
    gap: 10px;
    padding: 12px 24px;
  }
}
